@keyframes bt {
    from {background-color: pink;}
    to {background-color: purple;}
  }
  
  /* Áp dụng animation vào phần tử */
 
html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: #000;
    /* background-color: ; */
    padding: 0;
    margin: 0;
    background-image: url(../img/banner-bg.png);
    background-size: 100vw 100vh ;
    background-repeat: no-repeat;

    
}
body{
    position: relative;
}
.container{
    position: relative;

}
table, td, tr,th{
    border: 4px solid rgb(209, 65, 101);
    border-collapse: collapse;
}
li{
    list-style: none;
    font-size: 100%;
}
.div1{
    position: relative;
    
}
a{
    text-decoration: none;
    color: rgb(20, 20, 20);
}
.nav_bar{

    background-color: white;
    
    width: 70%;
    text-align: center;
    padding: 5px 20px; 
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 5px;
    /* margin: 0 auto; */
    /* border: 1px solid ; */
    border-radius: 70px;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.nav_bar .logo img{
    flex-basis: 20%;
    width: 5rem;
    height: auto;
}
.nav_bar .nav_list{
    vertical-align: center;
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    padding-top:1rem ;
}
.nav_bar .nav_list :hover{
    color : #e48acd;
}

.image img{
    width:100%;
    height: 100vh;
}
.div1-main {
    font-weight: bolder;
    font-size: 150%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 1rem;
}
.div1-main h3{
    font-size: 80%;
}
.div1-main  .button{
    margin-top: 1rem;
    padding:0.7rem 1rem;
    border-radius: 5rem;
    box-shadow: none;
    background-color:  #e48acd;
    border: none;
    transition: 0.25s;
    color: white;
    animation-name: bt;
    animation-duration: 4s;
    
}
.div1-main  .button:hover{
    background-color:  #33212f6b;
    padding: 1rem 2rem;
    
}


/* style div2 */


.div2{
    display: flex;
    justify-content: space-evenly;
    margin-top:7rem ;

}
.div2 .div2-item {
    padding-top: 3rem;
    width: 18%;
    height: 16.5rem;
    border-radius: 3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 10px rgba(2, 2, 2, 0.699);
}
.div2 .div2-item img{
    width: 5rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color:  #9d8ae4;


}
.div2 .div2-item img:hover{
    background-color: #e48acd ;
}
.div2 .div2-item blockquote{
    color: rgba(71, 68, 68, 0.767);
    font-size: 110%;
}

.BRICK{
    margin: 3rem 5rem;
}
/* style div3 */

  .div3-discuss ,.div3-purpose{
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      margin-top: 5rem;
      margin-bottom: 2rem;
  }
  .div3 .contain{
      
      flex-basis: 50%;
  }
  .div3 .contain h2{
      font-weight: unset;
      color: rgba(0, 0, 0, 0.795);
  }
  .div3 .contain p{
      font-size: 120%;
      color: rgba(0, 0, 0, 0.514);
  }
    


  /* contactus */
   .contactUs{
       background-color: #f2f2f2;
       display: flex;
       justify-content: space-evenly;
       margin-bottom: 0;
       
   }
   .contactUs iframe{
       margin-top: 1rem;

       border-radius: 5rem;
       border: 3px solid white;
       width: 30rem;
       margin-left: 10rem;
   }
   .contactUs #contact-form{
       width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   }
   .contactUs #contact-form input,.contactUs #contact-form textarea{
       width: 27rem;
       border-radius: 7rem;
       border: none;
       margin: 0.5rem auto ;
       padding: 1.4rem 1rem;
       resize: none;
       outline: none;
       transition: 0.25s;

   }
   .contactUs #contact-form input:focus,.contactUs #contact-form textarea:focus{
       width: 29rem;
       outline-color: #9d8ae4;
   }
   .contactUs #contact-form textarea{
       height: 5rem;
   }
  
   .contactUs #contact-form button{
       background-color: #827ffe;
       width: 7rem;
       padding: 0.9rem;
       border-radius: 30px;
       /* box-shadow: none  !important; */
       border: none;
       color: white;
       margin: 0.5rem auto;
       transition: 0.25s;
   }
   .contactUs #contact-form h1{
       color: #403866;
       margin-left: 3rem;
   }
   .contactUs #contact-form button:hover{
       width: 8rem;
   }
   .contactUs #contact-form  input[type = "text"]::placeholder,.contactUs #contact-form textarea::placeholder, .contactUs #contact-form  input[type = "password"]::placeholder{
    color: #bdbed7;
    font-family: 'Anton', sans-serif;
    font-size: 150%;
    padding-left: 1rem;
    font-weight: bold;
  }



  /* style footer */
    

footer{
    background-color: #a35ad5;
    height: 7rem;
    margin: 0;
}
footer hr{
    margin-left: 7rem;
    margin-right: 7rem;
}
footer .icon-contact{
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    margin: 1rem auto;
    /* border-bottom: 1px solid white; */
}
footer .icon-contact i{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    background-color: white;
    color: #a35ad5;
    border-radius: 50%;
    padding: 0.5rem 0.3rem 0.3rem 0.7rem
}
footer p{
    color: white;
    font-size: 80%;
    text-align: center;
}
/* .div1 .div1-main,.div2{
    display: none;
} */

/* /////// */


.bank-title,.abou-us-title{
    text-align: center;
    color: #3c3c3db9;
}
.bank{
    display: flex;
    justify-content: space-evenly;
    margin-top:5rem ;

}
.bank .bank-item {
    padding-top: 3rem;
    width: 15%;
    height: 10rem;
    border-radius: 3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 0 10px rgba(187, 23, 23, 0.699);
}
.bank .bank-item img{
    width: 4rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color:  #9d8ae4;


}
.bank .bank-item img:hover{
    background-color: #e48acd ;
}
.bank .bank-item blockquote{
    color: rgba(71, 68, 68, 0.767);
    font-size: 110%;
}
/* ////////// */

.donate{
    width: 100vw;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top: -1rem;
    right: -0.5rem;
}


.close-time{
    position:absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    /* height: 15px; */
}


.donate #donate-form{
    position: absolute;
    top: 10rem;
    right: 5rem;
    background-color: #f2f2f2;
    width: 35rem;
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 border-radius: 50px;
}
.donate #donate-form input,.donate #donate-form #group-blood{
    width: 27rem;
    border-radius: 7rem;
    border: none;
    margin: 0.5rem auto ;
    padding: 1.4rem 1rem;
    resize: none;
    outline: none;
    transition: 0.25s;

}
.donate #donate-form input:focus,.donate #donate-form textarea:focus{
    width: 29rem;
    outline-color: #9d8ae4;
}
.donate #donate-form textarea{
    height: 5rem;
}

.donate #donate-form #send{
    background-color: #827ffe;
    width: 7rem;
    padding: 0.9rem;
    border-radius: 30px;
    /* box-shadow: none  !important; */
    border: none;
    color: white;
    margin: 0.5rem auto;
    transition: 0.25s;
}
.donate #donate-form h1{
    color: #403866;
    margin-left: 3rem;
}
.donate #donate-form #send:hover{
    width: 8rem;
}
.donate #donate-form  input[type = "text"]::placeholder,.donate #donate-form textarea::placeholder, .donate #donate-form  input[type = "password"]::placeholder{
 color: #bdbed7;
 font-family: 'Anton', sans-serif;
 font-size: 150%;
 padding-left: 1rem;
 font-weight: bold;
}
.close {
    display: none;
}
.open{
    display: block;
}
